@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.spinner {
  margin: 0 auto;
  margin-top: 3rem;
}
.spinner:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-color: lightgray transparent lightgray transparent;
  animation: spinner 1.2s linear infinite;
}

.letter::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 15px;
}

.full-screen {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.section-screen {
  width: 100%;
  height: calc(100vh - 92px);
}

.logos {
  font-family: "Noto Sans KR", sans-serif;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-color: #e5e7eb !important;
}
.ql-container.ql-snow {
  margin-top: 0.8rem;
  height: 50vh;
}

.worship-card img {
  flex: 2;
}
.worship-card .center {
  flex: 6;
}
.worship-card .end {
  flex: 2;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
